{% extends 'songs_base.html' %}
        {% block title %}Songs{% endblock %}
        {% block content %}
        <table class="details">
            <tbody>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
                {% for object in object_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
                    <td>{% firstof object.short_author object.author %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
