{% extends 'songs_base.html' %}
{% load song_tags %}
        {% block title %}Sets{% endblock %}
        {% block content %}
        <h1>{{ object.title }}</h1>
        <h3>{{ object.date }}</h3>
        <table class="details">
            <tbody>
                <tr>
                    <th>Title</th>
                    <th>Key</th>
                    <th>Author</th>
                </tr>
                {% for item in object.setitem_set.all %}
                <tr>
                    <td><a href="{% url transpose_view item.song.slug item.key|keyslug %}">{{ item.song.title }}</a></td>
                    <td>{{ item.key }}</td>
                    <td>{% firstof item.song.short_author item.song.author %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="button lblue" href="{% url set_music_view object.id %}">Print all chord charts</a>
        {% endblock %}
